<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="fypdbConnectionStringJOBS" connectionString="Data Source=hlgroup.database.windows.net;Initial Catalog=fypdb;Persist Security Info=True;User ID=hlgroup;Password=Daphnerocks1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
</configuration>